
@media (max-width: 1920px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(1206px + 24px));
    }
    html,body{
        font-size: 22.5px;
    }
}
@media (max-width: 1680px) {
    html,body{
        font-size: 19px;
    }
}
@media (max-width: 1440px) {
    html,body{
        font-size: 17.5px;
    }
}
@media (max-width: 1399px) {
    html,body{
        font-size: 16px;
    }
}
@media (max-width: 1280px) {
    html,body{
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    html,body{
        font-size: 12.5px;
    }
}
@media (max-width: 820px) {
    html,body{
        font-size: 10px;
    }
}
@media (max-width: 600px) {
    html,body{
        font-size: 16px;
    }
}