.btn-primary {
    &.pc {
        background-color: $pc;
        background: $pc;
        border: unset;
        padding: rem(15px) rem(50px);
        border-radius: rem(200px);
        @include typo(rem(24px), $font-r, #fff, 1.5);
        @include flex(if, ac, jc);
        @include flex-gap(0, rem(8px));
        transition: $ani-4;
        img{
            @include flex-w(rem(39.28px));
        }
    }
    &.pc:hover{
        // background-color: $sc;
    }
    &.white-line{
        @extend .pc;
        background-color: $tf;
        border: 1px solid $white;
        color: $white;
    }
    &.white{
        @extend .pc;
        background-color: $white;
        color: $pc;
    }
    &.sticky_white{
        @extend .pc;
        background-color: $white;
        border-radius: unset;
        color: $pc;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
    }

}

.kira_form{
    .form-control{
        background-color: $tf;
        padding: rem(10px) 0;
        border-radius: unset;
        border: unset;
        border-bottom: 1px solid #ffffff6e;
        box-shadow: none;
        outline: none;
        @include typo(rem(18px),$font-r,#ffffff);
        @include i-placeholder{
            @include typo(rem(18px),$font-r,#ffffff6e);
        }
    }
    select.form-control{
        &:focus{
            color: $pc;
        }
    }
    .form-group{
        &:last-child{
            grid-area: 4 / 1 / 5 / 3;
        }
    }
    .form-group-grid{
        @include grid(2,rem(20px),rem(33px));
        margin-bottom: rem(55px);

    }
}

.kira_header{
    text-align: center;
    position: relative;
    z-index: 1;
    &_h2{
        @include sf-typo(rem(52px),$font-b,$white);
        position: relative;
        display: inline-block;
        margin-bottom: rem(6px);
        span{
            color: #F5CB9B;
        }
        &_light{
            display: inline-block;
            width: rem(37px);
            mix-blend-mode: color;
            &_1{
                margin-right: rem(-40px);
                position: absolute;
                top: 0;
                left: rem(-14px);
                z-index: 1;
            }
            &_2{
                margin-right: rem(-40px);
                position: relative;
                z-index: 1;
            }
        }
    }
    &_p{
        @include typo(rem(20px),$font-r,#D1E7FF);
        max-width: rem(1212px);
        margin-inline: auto;
    }
    &_img{
        width: rem(535px);
        margin-inline: auto;
    }
}

.lt-zoom-in {
    border-radius: rem(6px);
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 0%;
        display: block;
        background-color: $sc;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: all 1s ease;
    }

    &:hover {
        &::before {
            transition: all 1s ease;
            left: 100%;
            width: 100%;
        }

        img {
            transition: all 0.5s ease;
            transform: scale(1.2);
        }
    }

    img {
        transition: all 0.5s ease;
    }
}

.kira_slider{
    &_arrow{
        width: rem(70px);
        height: rem(70px);
        border-radius: 100%;
        background-color: $white;
        padding: rem(15px);
        display: flex;
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        &_prev{
            left: 0%;
            -webkit-transform: scaleX(-1) translate(50% , -50%);
            transform: scaleX(-1) translate(50%, -50%);
        }
        &_next{
            right: 0%;
        }
        &_con{}
    }
}