:root {
    // -----------Animation Time----------
    --ani-2: all 0.2s 0s ease;
    --ani-3: all 0.3s 0s ease;
    --ani-4: all 0.4s 0s ease;
    --ani-5: all 0.5s 0s ease;
    // -----------Opecity----------
    --op-thr: 0.3;
    --op-n: 0.9;
    --op-e: 0.8;
    --op-f: 0.5;
    // _______________Font Type__________________
    --font-t: 100;
    --font-el: 200;
    --font-l: 300;
    --font-r: 400;
    --font-m: 500;
    --font-sb: 600;
    --font-b: 700;
    --font-eb: 800;
    --font-black: 900;
    --font-eblack: 950;
}

// _____________REM______________
$rem-size: 24px;
// _____________Background Images Location______________
$localbg: "../../assets/images";
// -----------Animation Time----------
<<<<<<< HEAD
$ani-2:var(--ani-2);
$ani-3:var(--ani-3);
$ani-4:var(--ani-4);
$ani-5:var(--ani-5);
=======
$ani-2:var(--ani-s);
$ani-3:var(--ani-t);
$ani-4:var(--ani-t);
$ani-5:var(--ani-f);
>>>>>>> 05f6f03 (My Gulp.js V3)
// -----------Opecity----------
$op-thr:var(--op-thr);
$op-n:var(--op-n);
$op-e:var(--op-e);
$op-f:var(--op-f);
// _____________________Font Veriable___________________
<<<<<<< HEAD
$pf-font: 'Public Sans', sans-serif;
=======
$pf-font: 'Futura';
>>>>>>> 05f6f03 (My Gulp.js V3)
$sf-font: 'Roboto';
// _______________Font Type__________________
$font-t: var(--font-t); //Thin (Hairline)
$font-el: var(--font-el); //Extra Light (Ultra Light)
$font-l: var(--font-l); //Light
$font-r: var(--font-r); //Normal (Regular)
$font-m: var(--font-m); //Medium
$font-sb: var(--font-sb); //Semi Bold (Demi Bold)
$font-b: var(--font-b); //Bold
$font-eb: var(--font-eb); //Extra Bold (Ultra Bold)
$font-black: var(--font-black); //Black (Heavy)
$font-eblack: var(--font-eblack); // Extra Black (Ultra Black)