.kira_head{
    background-color: $white;
    padding: rem(25px) 0;
    position: sticky;
    inset: 0px;
    bottom: unset;
    z-index: 9999;
    &_con{
        display: flex;
    }
    &_flex{
        width: 100%;
        @include flex(if, ac, jb);
        &_items{
            &:first-child{
                @include flex-w(rem(214.67px));
            }
        }
    }
}