<<<<<<< HEAD
@mixin img-ab {
=======
<<<<<<< HEAD
@mixin img-ab {
=======
@mixin bg-i-ab-same {
>>>>>>> 05f6f03 (My Gulp.js V3)
>>>>>>> master
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin bg-i-ab($imgabb) {
    position: relative;
    &#{$imgabb} {
<<<<<<< HEAD
        @include img-ab();
=======
<<<<<<< HEAD
        @include img-ab();
    }
}

@mixin img-ab-bg($imgab:-img, $imgcon:-con) {
    position: relative;
    &#{$imgab} {
        @include img-ab();
=======
        @include bg-i-ab-same();
>>>>>>> master
    }
}

@mixin img-ab-bg($imgab:-img, $imgcon:-con) {
    position: relative;
    &#{$imgab} {
<<<<<<< HEAD
        @include img-ab();
=======
        @include bg-i-ab-same();
>>>>>>> 05f6f03 (My Gulp.js V3)
>>>>>>> master
    }
    &#{$imgcon} {
        position: relative;
        z-index: 1;
    }
}

// @mixin bg-i-both($imgg,$imgab, $imgcon) {
//     position: relative;
//     &#{$imgg}{
//         position: absolute;
//         display: block;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//     }
//     &#{$imgab} {
        
//     }
//     &#{$imgcon} {
//         position: relative;
//         z-index: 1;
//     }
// }
